body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #dd6c91, #8fbdf1,rgb(115, 13, 241),black); /* Gradient background */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Full viewport height */
}
.h1{
    padding: 30%;
}
.container {
    text-align: center;
}

.search-button {
    display: inline-block;
    background-color: transparent; /* Transparent background */
    color: #fff; /* Button text color */
    padding: 20px 40px; /* Increased button size */
    margin: 15px;
    font-size: 20px; /* Increased font size */
    border: 2px solid #fff; /* White border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease; /* Transitions */
    text-decoration: none;
}

.search-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background on hover */
    transform: scale(1.05); /* Slight scale up on hover */
    color: #007BFF; /* Text color on hover */
}

/* Animation for button text */
@keyframes buttonTextAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.search-button:hover {
    animation: buttonTextAnimation 0.8s ease infinite;
}


.main-title {
    font-size: 56px;
    color: #fff;
    text-align: center;
    margin-top: 0; /* Remove top margin to position text at the top */
    margin-bottom: 20px;
}